@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@* Usamos apenas uma Div com a classe que criamos para o fundo *@
<div class="login-body">
    <MudLayout>
        @* O MudMainContent é necessário para o MudBlazor processar o @Body corretamente *@
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</div>